[submodule "SDL2"]
	path = SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "SDL2_mixer"]
	path = SDL2_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "SDL2_image"]
	path = SDL2_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "colorful"]
	path = colorful
	url = https://github.com/suve/LD25
