[submodule "libSDL2"]
	path = android/libs/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "libSDL2_mixer"]
	path = android/libs/SDL2_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "libSDL2_image"]
	path = android/libs/SDL2_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "SDL2"]
	path = SDL2
	url = https://github.com/PascalGameDevelopment/SDL2-for-Pascal
